.main-menu .navbar-header .nav-item,
.main-menu .navbar-header .navbar-brand .brand-logo {
  text-align: center !important;
  width: 100% !important;
}

.main-menu .navbar-header .navbar-brand .brand-logo img.logo {
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

a#dropdown-flag i.livicon-evo-holder {
  width: 1.6rem !important;
}

#navbar-mobile {  /* !HOTFIX: Navbar-mobile icons */
  display: flex !important;
}
